/* ===============
	TYPOGRAPHY
=============== */

// Body font
$base-font-size: 13px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
$base-line-height: 26px;


// Headings
$heading-font-weight: 600;
$heading-font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
